# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate
.terraform.tfstate.backup

# Local tfvars files
terraform.tfvars
*.tfvars

# Example env files
examples/*.tfvars
